%h1 Listing translations [T]

%table
  %tr
    %th Key [T]
    %th Locale [T]
    %th Value [T]
    %th

  - @translations.each do |translation|
    - klass = translation.done ? "translated" : "untranslated"
    %tr
      %td= link_to translation.phrase.key, edit_app_translation_path(@app, translation)
      %td(class = klass)= link_to translation.locale.key, edit_app_translation_path(@app, translation)
      %td= translation.value
      %td= link_to 'Show [T]', app_translation_path(@app, translation)
