- if @phrases.active.present?
  .container
    %p.text-right= link_to I18n.t('shared.new_phrase'), new_app_phrase_path(@app), class: 'btn btn-primary'

  = render 'list', phrases: @phrases.active, with_filter: true

- else
  .jumbotron
    %h1
      No phrase for this app [T]
    %p
      Maybe you would like to create one? [T]
    %p= link_to I18n.t('shared.new_phrase'), new_app_phrase_path(@app), class: 'btn btn-primary btn-lg'
