- if @phrases.active.present?

  = render 'list', phrases: @phrases.active, with_filter: true

- else
  .jumbotron
    %h1
      No phrase for this app [T]
    %p
      Maybe you would like to create one? [T]
    %p= link_to "New phrase [T]", new_app_phrase_path(@app), class: 'btn btn-primary btn-lg'
