%h2 YAML file upload

= form_tag app_import_upload_yaml_path(@app), :method => :post, :multipart => true do

  .field
    = label_tag :file, 'YAML file [T]'
    = file_field_tag :file

  .field
    = submit_tag 'Import [T]'
