%h2= "Welcome to #{I18n.t 'pages.home'}"

This is a tool for translators :)

%h3 ToDos:
%ul
  %li Specs
  %li <del>Service, um YML files zu importieren</del>
  %li <del>Service, um YML files zu exportieren</del>
  %li Konfigurierbarer Export
  %li Konfigurierbarer Import
  %li Anzeige der Anzahl noch nicht übersetzter Phrasen
  %li <del>Filtern nach Locale</del>
  %li <del>Volltext-Suche</del>
  %li Bessere Navigation
  %li Styling
  %li <del>Pagination</del>
  %li <del>Sortierung</del>
  %li <del>Warnung wenn Translation 15 Minuten zuvor bereits gespeichert wurde</del>
  %li Export-API
  %li Import-API
  %li I18n :)
  %li ...
  %li Benutzer-Rechte-System
