%h2= "Welcome to #{I18n.t 'pages.home'}"

This is a tool for translators :)

%h3 ToDos:
%ul
  %li Specs
  %li Service, um YML files zu importieren
  %li Service, um YML files zu exportieren
  %li Konfigurierbarer Export
  %li Konfigurierbarer Import
  %li Anzeige der Anzahl noch nicht übersetzter Phrasen
  %li Filtern nach Locale
  %li Bessere Navigation
  %li Styling
  %li Pagination
  %li <del>Warnung wenn Translation 15 Minuten zuvor bereits gespeichert wurde</del>
  %li Export-API
  %li Import-API
  %li I18n :)
  %li ...
  %li Benutzer-Rechte-System
