%h2= "Welcome to #{I18n.t 'pages.home'}"

This is a tool for translators :)

%h3 ToDos:
%ul
  %li Copy 'Master Content' into empty translation
  %li Warning if Translation was saved in the last 15 minutes already
  %li Styling
  %li Specs
  %li Export-API
  %li Import-API
  %li I18n :)
  %li ...
  %li Import of iOS / Android Locales
  %li Export of iOS / Android Locales
  %li User-Rights-System

%h3 Implemented:
%ul
  %li Create Apps, Locales, Phrases  ✓
  %li YAML File Import  ✓
  %li YAML File Export  ✓
  %li Import of XING-Perl Locales  ✓
  %li Export of XING-Perl Locales  ✓
  %li Import options  ✓
  %li Export options  ✓
  %li Import in background  ✓
  %li Display count of untranslated Phrases  ✓
  %li Full-text Search  ✓
  %li Filter by Locale or status  ✓
  %li Pagination  ✓
  %li Sorting  ✓
  %li In-place Editing  ✓
  %li Better Navigation  ✓
  %li Workflow step: Phrase verified yes/no  ✓
  %li Workflow step: Translation proofread yes/no  ✓
  %li Workflow step: Locale or Phrase archived yes/no  ✓
  %li Create Phrases that are translated into selected languages only  ✓
  %li Copy Translations into new Keys  ✓
