%h2= "Welcome to #{I18n.t 'pages.home'}"

This is a tool for translators :)

%h3 ToDos:
%ul
  %li 'Master Content' als Übersetzung kopieren
  %li Gleiche Übersetzungen in neue Keys kopieren
  %li Workflow-Schritt: Lektoriert ja/nein
  %li Bessere Navigation
  %li Styling
  %li Specs
  %li Export-API
  %li Import-API
  %li Konfigurierbarer Export
  %li Konfigurierbarer Import
  %li Anzeige der Anzahl noch nicht übersetzter Phrasen
  %li Einzelne Übersetzungen in weniger Sprachen
  %li I18n :)
  %li ...
  %li Import für iOS / Android Locales
  %li Export für iOS / Android Locales
  %li Benutzer-Rechte-System

%h3 Implementiert:
%ul
  %li <del>Manuelles Anlegen von Apps, Sprachen, Übersetzungen</del>
  %li <del>YML File Import</del>
  %li <del>YML File Export</del>
  %li <del>Import für XING-Perl Locales</del>
  %li <del>Export für XING-Perl Locales</del>
  %li <del>Volltext-Suche</del>
  %li <del>Filtern nach Locale</del>
  %li <del>Pagination</del>
  %li <del>Sortierung</del>
  %li <del>In-place Editierung</del>
  %li <del>Warnung wenn Translation 15 Minuten zuvor bereits gespeichert wurde</del>
