img {
  border: 0;
}

td, th {
  padding: 0 30px 3px 0;
}

.main {
  padding-top: 2em;
}


.clearer {
  clear: both;
}

.round {
  -moz-border-radius:     1em;
  -webkit-border-radius:  1em;
  border-radius:          1em;
}
