/ ### Begin of partial shared/_nav.html.haml ###

.navbar
  %ul.nav
    %li= link_to I18n.t('pages.apps'),           apps_path
    / %li= link_to I18n.t('pages.locales'),        app_locales_path
    / %li= link_to I18n.t('pages.phrases'),        app_phrases_path
    / %li= link_to I18n.t('pages.translations'),   app_translations_path
  %ul.nav.pull-right
    %li= link_to I18n.t('pages.home'),           root_path
